div.display {
    display: flex;
    padding: 10px;
    height: 77vh;
    width: 100%;
}

div.display > div {
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 50%;
    vertical-align: top;
}

div.display > div#text-input {
    border-color: green;
}

div.display > div#text-output {
    border-color: red;
}

div.title {
    height: 10%;
}

div.content {
    height: 90%;
}

div#button-field {
    border: 2px solid;
    border-radius: 5px;
    height: 350px;
    max-height: 40%;
    overflow-y: auto;
    text-align: center;
}

div#button-field > button {
    height: 75px;
}

button > img {
    max-width: 100%;
    max-height: 100%;
}

div#result {
    margin: 2px;
    padding: 2px;
    border: solid black;
    border-radius: 5px;
}

div#result > p {
    font-size: 20px;
    margin: 5px;
}

textarea {
    width: 99%;
    height: 95%;
    resize: none;
}