div.title {
    height: 30%;
}

div.content {
    height: 70%;
}

div.display {
    display: flex;
    padding: 10px;
    height: 90vh;
    width: 100%;
}

div.display > div {
    border: 2px solid;
    border-radius: 5px;
    float: left;
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 50%;
    vertical-align: top;
}

div.display > div#text-input {
    border-color: green;
}

div.display > div#text-output {
    border-color: red;
}

textarea {
    width: 100%;
    min-height: 90%;
    resize: none;
}