div.display {
    display: flex;
    padding: 10px;
    height: 77vh;
    width: 100%;
}

div.display > div {
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 50%;
    vertical-align: top;
}

div.display h1, div.display h3 {
    margin: 5px;
    padding: 2px;
}

div.display > div#text-input {
    border-color: green;
}

div.display > div#text-output {
    border-color: red;
}

div.title {
    height: 10%;
}

div.content {
    height: 90%;
}

div#labels > span {
    margin: 0 4em 0 0;
}

div.info-box {
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

div.info-box > p {
    font-size: 20px;
    margin: 5px;
}

div#button-field {
    border: 2px solid;
    border-radius: 5px;
    max-height: 100%;
    overflow-y: auto;
    text-align: center;
}

div#button-field > button {
    height: 75px;
}

div.with-ig {
    max-height: 80%;
}

button > img {
    max-width: 100%;
    max-height: 100%;
}

div#initial-guess {
    text-align: center;
    max-height: 18%;
}

div#initial-guess > input{
    margin: 2px;
}

div#result {
    overflow-y: auto;
    max-height: 30%;
}

textarea.no-header {
    width: 99%;
    height: 40%;
    resize: none;
}

textarea.with-header {
    width: 99%;
    height: 40%;
    resize: none;
}

/* Disabling the arrows in input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}