button#validate {
    font-size: 20px;
}

div.title {
    height: 10%;
}

div.content {
    height: 90%;
}

div#button-field {
    text-align: center;
}

div#result {
    margin: 2px;
    padding: 2px;
    border: solid black;
    border-radius: 5px;
}

div#result > p {
    font-size: 15px;
}

div.display {
    display: flex;
    padding: 10px;
    height: 90vh;
    width: 100%;
}

div.display > div {
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 50%;
    vertical-align: top;
}

div.display > div#text-input {
    border-color: green;
}

div.display > div#text-output {
    border-color: red;
}

textarea {
    width: 99%;
    height: 95%;
    resize: none;
}